




// Variables For Full Website 

$colBlack             : #000;
$colWhite             : #FFF;
$colWhite-Secondary   : #ccc;
$colWhite-light       :  rgb(226, 226, 226);


// Border Color's
$colIconBorder        :  rgb(235, 235, 235);
$colIconShadow        :   rgb(219, 219, 219);

$colBorder            : rgba(245, 245, 245, 0.8);

//Basis Colors 
$colBasis             : #4e2816;
$colBasis-Secondary   : #73432a;
$colBasis-light       : #ae6735;
$colBasisChocolate    : #6a2a0d;